.cadastrar_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
    min-height: calc(70vh - 50px - 50px);
  }
  
  .cadastrar_container h1 {
    margin-bottom: 0.5em;
  }
  
  .cadastrar_container p {
    color: #7b7b7b;
    margin-bottom: 1.5em;
  }